<!DOCTYPE html>

{% extends "wrapper.html" %}

{% block content %}
    <div class = "container">
        <div class = "jumbotron">
            <h3 class="display-5">Latest news </h3>
                {% if latest_news_list %}

                    {% for news in latest_news_list %}
                    <li>
                        <a href="{% url 'news:detail' news.id %}">{{ news.news_headline }}</a>
                    </li>
                {% endfor %}
                {% else %}
                    <h3>No news here</h3>
                {% endif %}
        </div>
    </div>
{% endblock content %}