{% block content %}
    <p>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Welcome to hell</h1>
                <!-- выводит текст и данные на главную страницу -->
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit
        . Vivamus ultricies risus sed massa placerat volutpat eget eu quam.
        Quisque faucibus mattis lacus a semper.
        Maecenas ac nisl nulla. Vestibulum augue magna, imperdiet et tincidunt
        at, facilisis at augue.
        Praesent laoreet lorem et sem dignissim porttitor. Aliquam imperdiet
        massa sed nisl suscipit, vitae rutrum neque convallis .
        Donec id tellus magna. Nam rutrum dictum eleifend. Curabitur venenatis
        magna eu quam venenatis egestas.
        Nullam eleifend iaculis quam, vel efficitur augue luctus sed.
        Aenean a quam ut velit lacinia molestie in at tellus.
        Etiam malesuada finibus ex, ac suscipit sem mattis nec.
        Nulla vitae velit finibus eros sodales lacinia.
        Suspendisse tempor nisl eu quam auctor finibus.
        Integer sed velit nisl. Nullam vehicula mauris velit, non facilisis
        nibh interdum id</p>

    </div>
    </div></p>

{% endblock %}